<a href="{% url 'accounts:profile' %}">Home</a>
<h1> Login </h1>

{% if message %}
<span style="color: green">{{message}}</span>
{% endif %}

{% if error %}
<span style="color: red">{{error}}</span>
{% endif %}

{% if form %}
<form action="{% url 'accounts:login' %}" method="post">
{% csrf_token %}
{{ form.as_p }}

{% if next%}
	<input type="hidden" name="next" value="{{next}}" />
{% endif %}
<input type="submit" value="Submit" />
</form>
{% endif %}

or <a href="{% url 'accounts:register' %}"> Sign Up.</a>
or <a href="{% url 'accounts:forgot' %}"> Forgot password?</a>
